header {
    min-height: 60px;

    .logo-link {
        float: left;
        line-height: 60px;
        font-size:2em;
    }
    
    .nav {
        float: right;
    }

    .logo-link img {
        height: 60px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px 10px ;
        a {
            font-size: 16px;
        }
    }
}
